body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4, h2 {
  text-align: center;
}

 .gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  text-align: center;
}

.gridBox {
  border: 1px solid black;
  height: 170px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.datePlacer {
  height: 40px;
  width: 100px;
}

.dateBox {
  border: 1px solid black;
  height: 40px;
  width: 50px;
}

.monthBox {
  width: 100%;
  height: 100%;
  border: 1px solid black;

}

.dayBox {
  background-color: lightyellow;
  border: 1px solid black;
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

p {
  color: rgb(99, 59, 142);
}
